# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Send message with Gitter': 'gitter:toggle-compose-message'
      'Send selected code with Gitter': 'gitter:send-selected-code'
  '.workspace .editor:not(.mini)':
      'Share GitHub link to this line with Gitter': 'gitter:send-github-line-link'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Gitter'
      'submenu': [
        { 'label': 'Restart ', 'command': 'gitter:restart' },
        { 'label': 'Toggle send message panel', 'command': 'gitter:toggle-compose-message' },
        { 'label': 'Send selected code with Gitter', 'command': 'gitter:send-selected-code' },
        { 'label': 'Open Gitter messages', 'command': 'gitter:open-messages' },
        { 'label': 'Close Gitter messages', 'command': 'gitter:close-messages' },
        { 'label': 'Clear Gitter messages', 'command': 'gitter:clear-messages' },
        { 'label': 'Toggle (Open/Close) Gitter messages panel', 'command': 'gitter:toggle-messages' },
        { 'label': 'Switch Gitter Room', 'command': 'gitter:switch-room' }
      ]
    ]
  }
]
