# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Send message with Gitter': 'gitter:toggle'
      # 'Send selected code with Gitter': 'gitter:send-selected-code'
  '.workspace .editor:not(.mini)':
      'Share GitHub link to this line with Gitter': 'gitter:send-github-line-link'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Gitter'
      'submenu': [
        { 'label': 'Toggle send message panel', 'command': 'atom-gitter:toggle' },
        { 'label': 'Send selected code with Gitter', 'command': 'gitter:send-selected-code' }
      ]
    ]
  }
]
